In [6]:
DATA_PATH = "/Users/96170/Desktop/iti_live/data/external/survey_results_public.csv"

In [7]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [25]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 10000

In [9]:
df = pd.read_csv(DATA_PATH)

In [10]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [12]:
df.shape

(64461, 61)

In [26]:
#take impression about the data
df.sample(5).iloc[0]  # for make it bl toul

Respondent                                                                  45639
MainBranch                                         I am a developer by profession
Hobbyist                                                                       No
Age                                                                            20
Age1stCode                                                                     13
CompFreq                                                                      NaN
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                  Colombia
CurrencyDesc                                                       Colombian peso
CurrencySymbol                                                                COP
DatabaseDesireNextYear                                           DynamoDB;MongoDB
DatabaseWorkedWith                     DynamoDB;MariaDB;MySQL;Oracle;Redis;SQLite
DevType                         Developer, back-end;Developer, front-end;Devel...
EdLevel                                        Professional degree (JD, MD, etc.)
Employment                                                     Employed full-time
Ethnicity                                                  Hispanic or Latino/a/x
Gender                                                                        Man
JobFactors                      Flex time or a flexible schedule;How widely us...
JobSat                                         Neither satisfied nor dissatisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                          JavaScript;Python;Ruby;TypeScript
LanguageWorkedWith                  C#;HTML/CSS;Java;JavaScript;Python;TypeScript
MiscTechDesireNextYear                              Node.js;React Native;Unity 3D
MiscTechWorkedWith                                           Node.js;React Native
NEWCollabToolsDesireNextYear                                               Gitlab
NEWCollabToolsWorkedWith        Github;Gitlab;Trello;Google Suite (Docs, Meet,...
NEWDevOps                                                                     Yes
NEWDevOpsImpt                                                 Extremely important
NEWEdImpt                                      Not at all important/not necessary
NEWJobHunt                                                                    NaN
NEWJobHuntResearch              Read company media, such as employee blogs or ...
NEWLearn                                                         Every few months
NEWOffTopic                                                                   NaN
NEWOnboardGood                                                                 No
NEWOtherComms                                                                  No
NEWOvertime                     Sometimes: 1-2 days per month but less than we...
NEWPurchaseResearch                                                           NaN
NEWPurpleLink                                                   Hello, old friend
NEWSOSites                      Stack Overflow (public Q&A for anyone who code...
NEWStuck                                               Visit Stack Overflow;Panic
OpSys                                                                 Linux-based
OrgSize                                                        20 to 99 employees
PlatformDesireNextYear                                         Linux;Raspberry Pi
PlatformWorkedWith                                       Android;AWS;Heroku;Linux
PurchaseWhat                                        I have little or no influence
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not really
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                                                   Easy
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                     Express;Flask;React.js
WebframeWorkedWith                               Angular.js;Django;Flask;React.js
WelcomeChange                   Not applicable - I did not use Stack Overflow ...
WorkWeekHrs                                                                    48
YearsCode                                                                       7
YearsCodePro                                                                    3
Name: 44721, dtype: object

In [27]:
# info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [28]:
questionable_cols = ["YearsCode", "Age1stCode", "YearsCodePro"]

In [30]:
for col in questionable_cols:
    print(col)
    print(df[col].unique().tolist())
    print("-------------------------------------------------------------------")

YearsCode
['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19', '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13', '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1', '39', '41', '45', 'More than 50 years', '47', '49', '48']
-------------------------------------------------------------------
Age1stCode
['13', '19', '15', '18', '16', '14', '12', '20', '42', '8', '25', '22', '30', '17', '21', '10', '46', '9', '7', '11', '6', nan, '31', '29', '5', 'Younger than 5 years', '28', '38', '23', '27', '41', '24', '53', '26', '35', '32', '40', '33', '36', '54', '48', '56', '45', '44', '34', 'Older than 85', '39', '51', '68', '50', '37', '47', '43', '52', '85', '64', '55', '58', '49', '76', '72', '73', '83', '63']
-------------------------------------------------------------------
YearsCodePro
['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12', '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16', '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22', '30', '38', '26', '40', '33', '31', 'More than 50 years', '34', '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44', '48', '49']
-------------------------------------------------------------------

In [ ]:
# Age1stCode,YearsCodePro,YearsCode  (convert to number)
#DatabaseDesireNextYear,DatabaseWorkedWith,DatabaseWorkedWith,LanguageDesireNextYear,LanguageDesireNextYear,MiscTechDesireNextYear , NEWCollabToolsWorkedWith,  PlatformWorkedWith,  PlatformDesireNextYear  , WebframeDesireNextYear  ,WebframeWorkedWith  (split the values )